@import "reset.css";
@import "variables.css";

/*  */
@import "nav.css";
@import "main.css";
@import "daily-list.css";
@import "lower-nav.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
