@import "reset.css";
@import "variables.css";

/*  */
@import "nav.css";
@import "main.css";
@import "daily-list.css";
@import "lower-nav.css";

/* */
@media screen and (max-width: 1000px) {
  nav,
  main,
  .lower-nav {
    width: 100vw;
  }
}
@media screen and (max-width: 575.98px) {
  :root {
    --font-size__nav-icon: 4rem;
    --font-size__title1: 3rem;
    --font-size__calendar: 2rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
