:root {
  --font-size__nav-icon: 3rem;
  --font-size__title1: 2rem;
  --font-size__title2: 17px;
  --font-size__title3: 15px;
  --window-width: 1000px;
  --border-3: solid 1px rgba(0, 0, 0, 0.3);
  --border-2: solid 1px rgba(0, 0, 0, 0.2);
  --border-1: solid 1px rgba(0, 0, 0, 0.1);
  --main-dates__bg-color: rgba(0, 0, 0, 0.015);
}

.opacity-7 {
  opacity: 0.7;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-3 {
  opacity: 0.3;
}
.opacity-1 {
  opacity: 0.1;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
